:host {
    ion-content {
        --background: #f8f8f8;
    }
}

.empty-list {
    &::before {
        background: url('../../assets/icon/client_empty.png') no-repeat;
        background-position: center;
        background-size: 70px;
        content: '';
        display: block;
        padding-top: 150px;
    }

    h1 {
        color: #333;
        font-size: 21px;
        font-weight: 600;
        margin: 0 20px;
        text-align: center;
    }
}

ion-grid {
    padding: 0;
}

