<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      {{ 'menu.clients' | translate }}
    </ion-title>

    <ion-buttons slot="end">
      <!--
      <ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </ion-button> -->
      <ion-button icon-only (click)="createClient()" >
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="!loading && (!clientes || !clientes.length);else clientTemplate">
    <div class="empty-list">
      <h1>{{ 'client.list.no_items' | translate }}</h1>
    </div>
  </ng-container>

  <ng-template #clientTemplate>
    <ion-grid class="clients-container">
      <ion-row>
        <ion-col size="12" size-md="6" size-xl="4" *ngFor="let cliente of clientes">
          <app-client-card [cliente]="cliente"></app-client-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>

</ion-content>
