<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      {{ 'home.title' | translate }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button icon-only (click)="filter()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button icon-only routerLink="/task">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="!loading && (!tasks || !tasks.length);else taskTemplate">
    <div class="empty-list">
      <h1>{{ 'home.no_items' | translate }}</h1>
    </div>
  </ng-container>

  <ng-template #taskTemplate>
    <ion-grid class="tasks-container">
      <ion-row>
        <ion-col size="12" size-md="6" size-xl="4" *ngFor="let tarea of tasks">
          <ion-card>
            <ion-card-header>
              <div class="price"><span class="value">{{ tarea.total }}€</span></div>
              <time class="fecha">{{ tarea.date | date:'HH:mm dd/MM/yyyy' }}</time>
            </ion-card-header>
            <ion-card-content>
              <h1>{{ tarea.title }}</h1>
              <h2>{{ tarea.description }}</h2>
              <div class="client"><b>{{ 'home.client' | translate }}:</b> {{ tarea.clientDescriptionName }}</div>
              <div class="client"><b>{{ 'home.tipo' | translate }}:</b> {{ ('task.type.' + (tarea.type || 'REPARACION')) | translate }}</div>
            </ion-card-content>
            <div class="buttons-footer">
              <div class="client ion-activatable" *ngIf="tarea.client" (click)="openClient(tarea.client)" >{{ 'home.client' | translate }}<ion-ripple-effect></ion-ripple-effect></div>
              <div class="edit ion-activatable" (click)="editTask(tarea)" >{{ 'client.list.edit' | translate}}<ion-ripple-effect></ion-ripple-effect></div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>

</ion-content>
