<ion-app>
  <ion-split-pane>
    <ion-menu *ngIf="hasSession" >
      <ion-header>
        <ion-toolbar>
          <div class="header-container ion-activatable" (click)="logout()">
            <ion-ripple-effect></ion-ripple-effect>
            <app-rounded-letter [letter]="user.email[0]" fontSize="40px"></app-rounded-letter>
            <h1 class="user-mail">{{ user.email }}</h1>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer class="menu-footer">
        <div class="github" (click)="openLink('https://github.com/mellinas314/simple-noter', '_blank')"></div>
        <div class="license" (click)="openLink('https://creativecommons.org/licenses', '_blank')"></div>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
