.header-container {
    text-align: center;

    app-rounded-letter {
        margin: 10px auto;
        width: 30%;
    }

    .user-mail {
        background: url('./assets/icon/logout.png') no-repeat;
        background-position: right center;
        background-size: 20px;
        display: inline-block;
        font-size: 18px;
        padding-right: 30px;
        text-align: center;
    }
}

.menu-footer {
    border-top: solid 1px grey;
    display: flex;
    justify-content: space-evenly;
    height: 50px;

    > div {
        height: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60px;
        width: 100px;
    }

    .github {
        background-image:url('./assets/github.png');
    }

    .license {
        background-image: url('./assets/license.png');
    }
}
